.navbar-brand {
    background-color: #800020;
    color: whitesmoke !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: x-large !important;
}

body {
    background-image: url("https://image.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg");
   }

.boxed {
    width: 500px;
    padding: 50px;
    margin: 20px;
  }

h1 {
    color: #800020;
}

img {
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 25px;


