.navbar-brand {
    background-color: #800020;
    color: whitesmoke !important;
    font-family: cursive !important;
    font-size: x-large !important;
}

body {
    background-image: url("https://image.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg");
   }

.boxed {
    width: 700px;
    padding: 50px;
    margin: 50px;
    margin-top: 75px;
    margin-block-end: 100px;
    background-color: whitesmoke;
  }

h1 {
    color: #800020;
    font-family: Lucida;
    font-size: 275%;
}

.button {
    background-color: #800020;
    color: whitesmoke;
    padding: 15px 32px;
}

img {
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 25px;
}

.column {
    margin-bottom: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
